In [10]:
import pandas as pd
import matplotlib.pyplot as plt


#Script for no. 1 question
df=pd.read_csv('student_data.csv')
highest_5=df.nlargest(5,'cgpa')
print('Deatils of The top 5 students with the highest CGPA:\n\n',highest_5)

#Script for no. 2 question

mask=df['cgpa']>3.8
print('Students who have a CGPA greater than 3.8\n\n',df[mask])

#Script for no.3 question

df_male = df[df['gender'] == 'Male']
average_gpa_male = df_male['hsc_gpa'].mean()
print("Average HSC GPA of Male Students:\n", average_gpa_male)

#Script for no. 4 question
df_missing_value = df.fillna({'gender': 'other'})
print('Replacing missing values in the "gender" column with "Other:\n',df_missing_value)







!wget https://raw.githubusercontent.com/Abdullahfoysal/pp11-Project-AnalyzeAndVisualize/refs/heads/main/student_data.csv

Deatils of The top 5 students with the highest CGPA:

       id first_name last_name                        email    gender  \
35    36      Keith     Piner              kpinerz@fda.gov      Male
461  462     Willow  Heggadon          wheggadonct@home.pl    Female
34    35     Darsie     Suter             dsutery@dell.com    Female
268  269      Henri  Bratcher    hbratcher7g@bigcartel.com  Bigender
470  471     Terrye   Bointon  tbointond2@surveymonkey.com    Female

         ip_address  cgpa  passing_year   department  attendance  \
35      213.60.85.1  4.00        2020.0     Medicine       72.63
461   231.176.34.59  4.00        2003.0         Arts        2.02
34   122.171.78.159  3.99        2009.0         Arts         NaN
268      31.1.33.54  3.99        2012.0         Arts       19.98
470  122.126.248.52  3.99        2024.0  Engineering       74.31

    home_district  abroad_study  student_id  graduation_date  \
35        Houston          True          36             2016
461       Chicago         False         462             2007
34    Los Angeles         False          35             2009
268       Chicago          True         269             2015
470      New York         False         471             2012

    study_abroad_country study_abroad_city  hsc_gpa  ssc_gpa
35                 China          Songyuan        3        3
461         South Africa           Midrand        4        5
34             Indonesia            Dlemer        2        3
268                 Peru            Iquipi        4        1
470               Canada    Saint-Ambroise        5        2
Students who have a CGPA greater than 3.8

       id first_name          last_name                             email  \
31    32      Valle              Baine             vbainev@google.com.au
34    35     Darsie              Suter                  dsutery@dell.com
35    36      Keith              Piner                   kpinerz@fda.gov
121  122      Dynah          Caldecott        dcaldecott3d@google.com.br
145  146      Nedda          Mazillius            nmazillius41@google.fr
146  147      Hazel             Double                 hdouble42@ftc.gov
152  153     Gracia        Chippindall       gchippindall48@stanford.edu
154  155        Dre            Boycott          dboycott4a@tuttocitta.it
168  169    Harbert                Hay                  hhay4o@issuu.com
174  175       Rory            Conelly            rconelly4u@mozilla.com
260  261       Benn            Comford              bcomford78@adobe.com
268  269      Henri           Bratcher         hbratcher7g@bigcartel.com
283  284  Forrester           Di Baudi         fdibaudi7v@feedburner.com
290  291      Jason            Renneke                jrenneke82@sun.com
305  306     Rodina             Dainty           rdainty8h@newyorker.com
367  368     Jaclyn            Rehorek               jrehoreka7@jugem.jp
370  371      Meara             Tather             mtatheraa@samsung.com
435  436     Dieter          Pottiphar               dpottipharc3@cbc.ca
461  462     Willow           Heggadon               wheggadonct@home.pl
468  469     Andris              Neary         anearyd0@odnoklassniki.ru
470  471     Terrye            Bointon       tbointond2@surveymonkey.com
503  504       Ciro          Blackmuir            cblackmuirdz@github.io
545  546    Bernarr           Thonason               bthonasonf5@cnn.com
552  553    Jocelyn           McCarlie            jmccarliefc@disqus.com
591  592     Nannie             Onslow           nonslowgf@bloomberg.com
605  606     Wileen              Drain     wdraingt@pagesperso-orange.fr
636  637       Rhys        Braybrookes        rbraybrookesho@weather.com
660  661       Gena       Barrowcliffe         gbarrowcliffeic@jimdo.com
677  678     Dorene            De Goey                ddegoeyit@lulu.com
727  728     Myriam           Scatcher       mscatcherk7@theguardian.com
745  746    Noelani           Maddyson             nmaddysonkp@amazon.de
754  755        Lek            Longley          llongleyky@quantcast.com
793  794     Agosto           Dunridge          adunridgem1@columbia.edu
833  834     Julina             Saffle               jsafflen5@google.de
840  841    Jacklin           Crampsey             jcrampseync@umich.edu
886  887     Archie        Perrinchief            aperrinchiefom@home.pl
950  951      Mason             Bowley             mbowleyqe@smugmug.com
955  956      Morry             Herity                 mherityqj@mtv.com
963  964    Eveline         MacCaffery      emaccafferyqr@prnewswire.com
966  967    Mabelle            Melross   mmelrossqu@networksolutions.com
974  975       Abel  Papachristophorou  apapachristophorour2@cornell.edu
988  989     Zonnya            Garrals        zgarralsrg@accuweather.com

          gender       ip_address  cgpa  passing_year        department  \
31          Male    110.149.15.79  3.90        2022.0  Computer Science
34        Female   122.171.78.159  3.99        2009.0              Arts
35          Male      213.60.85.1  4.00        2020.0          Medicine
121       Female   86.113.151.141  3.95        2017.0  Computer Science
145       Female  217.182.188.138  3.98        2018.0       Engineering
146         Male   175.143.124.46  3.93        2005.0          Medicine
152       Female     17.168.56.44  3.91        2002.0              Arts
154       Female   126.33.143.203  3.85        2025.0          Business
168         Male  197.136.147.107  3.91           NaN          Business
174  Genderfluid     4.89.153.236  3.81        2009.0          Medicine
260         Male    244.103.16.49  3.98        2007.0       Engineering
268     Bigender       31.1.33.54  3.99        2012.0              Arts
283         Male  105.146.137.200  3.93        2025.0          Medicine
290         Male    80.45.220.134  3.94        2014.0          Medicine
305       Female     22.224.147.8  3.96        2010.0              Arts
367       Female    93.128.62.104  3.90        2008.0              Arts
370       Female   155.23.226.216  3.89        2013.0          Medicine
435  Genderqueer  126.107.174.160  3.98        2019.0          Medicine
461       Female    231.176.34.59  4.00        2003.0              Arts
468         Male    131.213.84.15  3.81           NaN  Computer Science
470       Female   122.126.248.52  3.99        2024.0       Engineering
503         Male   142.140.14.115  3.83        2011.0  Computer Science
545         Male      5.59.215.84  3.82        2024.0  Computer Science
552       Female   99.252.247.231  3.91        2020.0              Arts
591       Female  110.239.229.152  3.99        2007.0          Business
605       Female   35.238.230.152  3.89           NaN  Computer Science
636         Male    12.18.127.116  3.92        2025.0       Engineering
660       Female  109.232.124.170  3.90        2014.0       Engineering
677       Female    128.52.93.220  3.87        2002.0          Medicine
727       Female    33.208.134.55  3.84        2016.0       Engineering
745       Female   171.229.64.225  3.92        2006.0       Engineering
754         Male  139.186.129.113  3.97        2008.0       Engineering
793         Male    15.177.27.124  3.99        2009.0              Arts
833       Female     42.87.211.62  3.94        2025.0              Arts
840       Female    113.79.70.109  3.96        2006.0       Engineering
886         Male      155.111.6.9  3.93        2006.0          Business
950   Polygender  171.127.119.156  3.96        2013.0              Arts
955         Male     22.42.137.92  3.94        2006.0          Business
963       Female     24.7.151.154  3.96        2007.0          Business
966       Female    24.88.172.182  3.85        2017.0          Business
974   Polygender    108.209.26.13  3.85        2016.0              Arts
988      Agender    147.163.81.82  3.99        2002.0          Business

     attendance home_district  abroad_study  student_id  graduation_date  \
31        70.92       Chicago          True          32             2014
34          NaN   Los Angeles         False          35             2009
35        72.63       Houston          True          36             2016
121       32.22       Chicago         False         122             2010
145         NaN   Los Angeles          True         146             2006
146       60.42      New York          True         147             2015
152         NaN         Miami         False         153             2018
154       17.39   Los Angeles         False         155             2003
168       37.49         Miami         False         169             2011
174        2.63         Miami          True         175             2015
260       93.85         Miami         False         261             2011
268       19.98       Chicago          True         269             2015
283       17.89       Chicago         False         284             2019
290       72.42         Miami          True         291             2008
305       19.89       Houston          True         306             2016
367        7.13   Los Angeles         False         368             2013
370       47.32   Los Angeles          True         371             2010
435       30.08         Miami         False         436             2005
461        2.02       Chicago         False         462             2007
468       30.05      New York          True         469             2014
470       74.31      New York         False         471             2012
503        2.09         Miami          True         504             2008
545       42.87   Los Angeles         False         546             2010
552       47.45   Los Angeles         False         553             2004
591         NaN      New York          True         592             2006
605        9.39   Los Angeles         False         606             2010
636       90.71       Houston          True         637             2005
660       88.66       Houston         False         661             2003
677       75.04       Chicago          True         678             2017
727       48.87      New York          True         728             2012
745       23.86       Chicago         False         746             2014
754       18.76      New York          True         755             2012
793         NaN   Los Angeles         False         794             2001
833        9.87      New York         False         834             2003
840       94.01   Los Angeles         False         841             2000
886       70.57   Los Angeles         False         887             2010
950       58.55      New York         False         951             2014
955       12.97      New York         False         956             2009
963        7.80      New York          True         964             2018
966       32.65       Chicago         False         967             2003
974       30.39       Chicago         False         975             2014
988       35.79       Chicago          True         989             2005

    study_abroad_country       study_abroad_city  hsc_gpa  ssc_gpa
31                Greece                   Vília        3        5
34             Indonesia                  Dlemer        2        3
35                 China                Songyuan        3        3
121             Bulgaria                Lakatnik        2        2
145               France                    Évry        3        5
146           Mauritania                    Néma        5        5
152               Sweden               Stockholm        5        1
154                China                   Gezan        3        3
168                China                  Xinhua        5        5
174            Sri Lanka                Welisara        3        5
260               Poland                 Komorów        2        4
268                 Peru                  Iquipi        4        1
283          Philippines             Masipi West        1        5
290            Indonesia              Plandirejo        5        2
305            Indonesia            Rancapanjang        5        4
367          Philippines                  Taytay        5        2
370                China                    Hexi        5        4
435               Greece                    Árta        4        2
461         South Africa                 Midrand        4        5
468               Canada                Richmond        4        4
470               Canada          Saint-Ambroise        5        2
503               Sweden                  Hofors        5        1
545                China                  Shi’an        3        3
552               Sweden               Stockholm        2        5
591                China               Xianglong        1        5
605               Latvia                  Tukums        5        4
636               Sweden              Lindesberg        5        5
660   Dominican Republic            Ciudad Nueva        4        1
677                 Peru               Aucallama        1        1
727               Poland                 Pułtusk        1        4
745           East Timor                Lospalos        3        2
754       Czech Republic           Dolní Rychnov        1        3
793                China                  Huzhen        4        4
833                China                Shuozhou        5        4
840            Indonesia                Sonorejo        3        1
886                 Cuba                   Guisa        4        2
950            Indonesia             Putatbasiun        5        4
955               Sweden                  Årjäng        1        1
963               Poland                 Lelkowo        2        5
966            Guatemala  Palestina de los Altos        2        1
974               Poland                Chociwel        2        1
988               Russia        Krasnyy Oktyabr’        2        5
Average HSC GPA of Male Students:
 2.9382716049382718
Replacing missing values in the "gender" column with "Other:
        id first_name   last_name                        email      gender  \
0       1     Fraser   Petschelt   fpetschelt0@craigslist.org        Male
1       2         Si     Skottle    sskottle1@squarespace.com        Male
2       3      Barbi   Seedhouse  bseedhouse2@miibeian.gov.cn      Female
3       4     Shadow      Scarff         sscarff3@walmart.com        Male
4       5      Karim  Domenicone    kdomenicone4@sakura.ne.jp        Male
..    ...        ...         ...                          ...         ...
995   996  Catharina     Bradtke       cbradtkern@pcworld.com      Female
996   997  Anastasia       Lowde            alowdero@blog.com      Female
997   998      Tandi    Whitlock      twhitlockrp@skyrock.com      Female
998   999    Malvina        Tuhy        mtuhyrq@bloglines.com  Non-binary
999  1000     Kissee    Okeshott          kokeshottrr@msu.edu      Female

          ip_address  cgpa  passing_year        department  attendance  \
0     22.110.131.206  0.13        2000.0          Business       63.56
1         230.8.97.7   NaN        2023.0              Arts       76.00
2     212.118.50.163   NaN        2015.0  Computer Science        9.91
3       43.41.240.67  3.27        2024.0              Arts       90.09
4        29.33.96.28  0.20        2025.0              Arts       91.36
..               ...   ...           ...               ...         ...
995    52.162.96.226  0.49        2015.0          Medicine         NaN
996  199.250.191.241  0.37        2009.0  Computer Science        8.18
997    156.191.196.6  1.04        2023.0          Medicine       92.60
998     49.201.10.99   NaN        2017.0          Medicine       61.29
999     169.43.29.34  2.22        2018.0              Arts       70.99

    home_district  abroad_study  student_id  graduation_date  \
0         Houston         False           1             2015
1           Miami          True           2             2014
2         Houston         False           3             2013
3        New York          True           4             2012
4           Miami         False           5             2008
..            ...           ...         ...              ...
995       Chicago         False         996             2019
996       Chicago          True         997             2011
997      New York         False         998             2011
998      New York          True         999             2008
999         Miami         False        1000             2004

      study_abroad_country study_abroad_city  hsc_gpa  ssc_gpa
0                   France              Laon        5        5
1                    China         Changqiao        1        3
2                    China              Luxi        2        1
3                   Brazil        Chã Grande        5        2
4                   Sweden          Enköping        5        5
..                     ...               ...      ...      ...
995  Palestinian Territory    Dayr Abū Ḑa‘īf        5        4
996              Venezuela         El Corozo        3        1
997                 Sweden            Motala        3        3
998               Pakistan            Nārang        1        4
999                 Uganda             Amuru        3        3

[1000 rows x 18 columns]
--2024-12-20 20:23:36--  https://raw.githubusercontent.com/Abdullahfoysal/pp11-Project-AnalyzeAndVisualize/refs/heads/main/student_data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 133023 (130K) [text/plain]
Saving to: ‘student_data.csv.2’

student_data.csv.2  100%[===================>] 129.91K  --.-KB/s    in 0.03s

2024-12-20 20:23:36 (4.66 MB/s) - ‘student_data.csv.2’ saved [133023/133023]